.book-details {
  display: flex;
  gap: 50px;
  height: fit-content;
}

.product-image-container {
  width: 100%;
  background-color: #838383;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-page-product-image {
  border-radius: inherit;
  width: inherit;
  object-fit:cover;
}

/* .description-container {
  width: 100%;
} */

/* .title-section {
  margin-bottom: 20px;
} */

.book-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 15px 15px;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 15px 15px;
}

.book-description {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 15px 15px;
}

.products-management-btns-container {
  margin: 0 0 15px 15px;
}

.reading-button {
  width: 175px;
  height: 34px;
  background-color: #fff;
  border: 2px solid #f29966;
  border-radius: 4px;
  padding: 8px 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 20px;
}