.contained-button {
    height: 34px;
    padding: 8px 22px;
    background-color: #f29966;
    border: none;
    border-radius: 4px;
    font-family: 'Kiwi Maru', serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }
  
  .text-button {
    height: 50px;
    padding: 0 15px;
    background: none;
    border: none;
    font-family: 'Kiwi Maru', serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
  }
  
  .outline-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 12px;
    background-color: #fff;
    border: 2px solid #f29966;
    border-radius: 4px;
  }
  
  .outline-button img {
    width: 20px;
    height: 20px;
  }