.categories-container {
  display:inline-block;
  width: 30%;
}

.category-section-text,
.tags-section-text,
.other-section-text,
.author-section-text {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.4;
  display:inline-block;
}

.category-section,
.tags-section,
.other-section,
.author-section {
  width: 100%;
}
