.filter-sidebar {
  height: 100vh;
  width: 382px;
  background: #95BFA4;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.filter-title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.filter-section {
  background: #bad9c8;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  width: 343px;
}

.section-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #000000;
  text-align: left;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.checkbox-input {
  appearance: none;
  width: 25px;
  height: 25px;
  margin: 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: all 0.3s ease;
}

.checkbox-input:checked {
  background-color: #f29966;
  border-color: #f29966;
}

.checkbox-input:checked::before {
  content: '✔';
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-text {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0; /* Margin on top and bottom */
}