.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #bad9c8;
}

.logo-container {
  height: 100%;
  padding: 0 20px;
}

.logo-container :hover {
  background-color: #A5D6A7;
  cursor: pointer;
}

.nav-left-btn-group {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
  object-fit: contain;
}

.nav-middle-group {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
}

/* SEKCJA Z STYLINGIEM SELECTA */
/* NIE RUSZAĆ BO WYBUCHNIE! */


/* Container styling for the entire FormControl */
.category-select {
  width: 150px;
  height: 40px;
  font-family: 'Kiwi Maru', serif;
}

/* Styling for the InputLabel */
.category-select-label {
  font-family: 'Kiwi Maru', serif;
  color: #000;
}

/* Change label color when focused */
.category-select-label.Mui-focused {
  color: #666; /* New color when focused */
}

/* Styling for the Select container */
.category-select-container {
  font-family: 'Kiwi Maru', serif;
  font-size: 16px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 8px;
}

/* Border styling for the Select dropdown */
.category-select-container .MuiOutlinedInput-notchedOutline {
  border-color: #f29966;
}

/* Hover state for the Select dropdown */
.category-select-container:hover .MuiOutlinedInput-notchedOutline {
  border-color: #f29966;
}

/* Focused/Active state for the Select dropdown */
.category-select-container.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #f29966;
  box-shadow: 0 0 5px rgba(242, 153, 102, 0.5);
}

/* Styling for the dropdown menu items */
.MuiMenuItem-root {
  font-family: 'Kiwi Maru', serif;
  color: #444;
}

/* Hover state for the dropdown menu items */
.MuiMenuItem-root:hover {
  background-color: #fceee6;
  color: #f29966;
}

/* Selected menu item styling */
.Mui-selected {
  background-color: #fceee6 !important;
  color: #f29966 !important;
}


.dropdown-icon {
  width: 24px;
  height: 24px;
}

/* search bar */

.searchbar {
  display: flex;
  gap: 2px;
}

.input-box {
  width: 288px;
  height: 40px;

}

.search-btn {
  width: 51px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #f29966;
  border-radius: 4px;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.nav-right-btn-group {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
