.product-card {
    min-width: 246px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .product-image-container {
    width: 246px;
    height: 334px;
    background-color: #838383;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product-image {
    width: 128px;
    height: 97px;
    object-fit: contain;
  }
  
  .add-to-list-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 22px;
    background-color: #ffffff;
    border: 2px solid #f29966;
    border-radius: 4px;
    font-family: 'Kiwi Maru', serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .product-name {
    font-family: 'Kiwi Maru', serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #000000;
    width: 100%;
  }
  
  .product-author {
    font-family: 'Kiwi Maru', serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #000000;
    width: 100%;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    gap: -2px;
    padding: 10px;
  }
  
  .rating {
    font-family: 'Kiwi Maru', serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
  }
  
  .star-icon {
    width: 18px;
    height: 18px;
  }
  