.product-section {
  margin-top: 60px;
  width: 80vw;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  padding: 0 20px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  color: #000000;
  text-align: center;
}

.view-more-btn {
  display: flex;
  align-items: center;
  gap: 4px; 
  background: none;
  border: none;
  cursor: pointer;
}

.view-more-btn :hover {
  text-decoration: underline;
}
.view-more-btn .material-icons {
  text-decoration: none !important;
}

.view-more-btn-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.products-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.products-container::-webkit-scrollbar {
  display: none;
}