.product-card {
    width: 246px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .product-image-container {
    width: 246px; 
    height: 334px;
    background-color: #838383;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .add-to-list-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 22px;
    background-color: #ffffff;
    border: 2px solid #f29966;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
  }
  
  .product-name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    margin: 0;
    color: #000000;
  }
  
  .product-author {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-overflow: ellipsis;
    margin: 0;
    color: #000000;
  }
  
  .rating-container {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  
  .rating {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
  }

  .rating-container .material-icons {
    color: #EFBF04;
  }